<launch>
  <arg name="record" default="false"/>
  <arg name="bag_filename" default="recording.bag"/>
  <arg name="use_ned_frame" default="false"/>
  <arg name="namespace" default="glider_hybrid_whoi"/>

  <group if="$(arg record)">
    <node pkg="rosbag" type="record" name="recording"
      args="record -O $(arg bag_filename)
        /$(arg namespace)/pose_gt_ned
        /hydrodynamics/current_velocity
        /hydrodynamics/current_velocity/$(arg namespace)
        /$(arg namespace)/direct_kinematics/UwGliderStatus
        /$(arg namespace)/dvl
        /$(arg namespace)/hector_gps
        /$(arg namespace)/hector_imu"
      if="$(arg use_ned_frame)"/>

      <node pkg="rosbag" type="record" name="recording"
        args="record -O $(arg bag_filename)
          /$(arg namespace)/pose_gt
          /hydrodynamics/current_velocity
          /hydrodynamics/current_velocity/$(arg namespace)
          /$(arg namespace)/direct_kinematics/UwGliderStatus
          /$(arg namespace)/dvl
          /$(arg namespace)/hector_gps
          /$(arg namespace)/hector_imu"
        unless="$(arg use_ned_frame)"/>
  </group>
</launch>