<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <!-- Import macro files -->
  <xacro:include filename="$(find uuv_descriptions)/urdf/common.urdf.xacro" />
  <xacro:include filename="$(find uuv_sensor_ros_plugins)/urdf/sensor_snippets.xacro"/>
  <xacro:include filename="$(find glider_hybrid_whoi_description)/urdf/glider_hybrid_whoi_snippets_test.xacro"/>
  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/snippets.xacro"/>
  <!-- Properties -->
  <xacro:property name="mass" value="1000.0"/>

  <xacro:property name="visual_mesh_file" value="file://$(find uuv_dave)/models/glider_hybrid_whoi/mesh/glider_hybrid_whoi_body.dae" />
  <xacro:property name="collision_mesh_file" value="file://$(find uuv_dave)/models/glider_hybrid_whoi/mesh/glider_hybrid_whoi_collision.dae" />
  <xacro:property name="left_prop_mesh_file" value="file://$(find uuv_dave)/models/glider_hybrid_whoi/mesh/glider_hybrid_whoi_left_propeller.dae" />
  <xacro:property name="right_prop_mesh_file" value="file://$(find uuv_dave)/models/glider_hybrid_whoi/mesh/glider_hybrid_whoi_right_propeller.dae" />

  <xacro:macro name="glider_hybrid_whoi_base" params="namespace debug inertial_reference_frame">
    <link name="${namespace}/base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 -${0.5*pi}" />
        <geometry>
          <mesh filename="${visual_mesh_file}" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 -${0.5*pi}" />
        <geometry>
          <mesh filename="${collision_mesh_file}" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="30.0" ixy="0" ixz="0" iyy="0.6" iyz="0" izz="5.0" />
      </inertial>
    </link>
    <link name="${namespace}/left_propeller_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 -${0.25*pi}" />
        <geometry>
          <mesh filename="${left_prop_mesh_file}" scale="1 1 1" />
        </geometry>
      </visual>
    </link>
    <joint name="${namespace}/left_propeller_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 -${0.25*pi}" />
      <parent link="${namespace}/base_link"/>
      <child link="${namespace}/left_propeller_link"/>
      <axis xyz="0 1 0" />
    </joint>
    <link name="${namespace}/right_propeller_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 -${0.25*pi}" />
        <geometry>
          <mesh filename="${right_prop_mesh_file}" scale="1 1 1" />
        </geometry>
      </visual>
    </link>
    <joint name="${namespace}/right_propeller_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 -${0.25*pi}" />
      <parent link="${namespace}/base_link"/>
      <child link="${namespace}/right_propeller_link"/>
      <axis xyz="0 1 0" />
    </joint>

    <!-- Set up hydrodynamic plugin -->
    <gazebo>
      <plugin name="${namespace}_direct_kinematics_plugin"
              filename="libdirect_kinematics_ros_plugin.so">
        <writeLog>1</writeLog>
      </plugin>
    </gazebo>

    <!-- TODO: Parametrize the battery unit -->
    <xacro:basic_linear_battery_macro
      namespace="${namespace}"
      parent_link="${namespace}/base_link"
      prefix=""
      open_circuit_voltage_constant_coef="3.7"
      open_circuit_voltage_linear_coef="-3.1424"
      initial_charge="1.1665"
      capacity="0.5"
      resistance="0.002"
      smooth_current_tau="1.9499"
      voltage="4.2"
      update_rate="2.0"/>

    <xacro:include filename="$(find glider_hybrid_whoi_description)/urdf/glider_hybrid_whoi_sensors_kinematics.xacro"/>
  </xacro:macro>
</robot>
