<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="hector_gps_macro"
    params="body_name">

    <!-- https://answers.gazebosim.org//question/6220/gps-sensor-in-gazebo-19/a-->
    <gazebo>
      <plugin name="hector_gps_sim" filename="libuw_gps_ros_plugin.so">
        <alwaysOn>1</alwaysOn>
        <updateRate>10.0</updateRate>
        <bodyName>${body_name}</bodyName>
        <topicName>fix</topicName>
        <velocityTopicName>fix_velocity</velocityTopicName>
        <drift>5.0 5.0 5.0</drift>
        <gaussianNoise>0.1 0.1 0.1</gaussianNoise>
        <velocityDrift>0 0 0</velocityDrift>
        <velocityGaussianNoise>0.1 0.1 0.1</velocityGaussianNoise>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:hector_gps_macro
      body_name="${namespace}/gps_link">
  </xacro:hector_gps_macro>

</robot>

