<?xml version="1.0"?>
<launch>
  <node pkg="glider_deadreckoning"
	type="deadreckoning_estimator.py"
	name="deadreckoning_estimator"
	output="screen">
    <param name="angleofattack" value="3.0"/>
    <param name="update_rate" value="5.0"/>
    <!-- Remap the inputs to application specific topics -->
    <remap from="imu" to="hector_imu" />
    <remap from="fix" to="hector_gps" />
    <remap from="pressure" to="pressure" />
    <remap from="status" to="kinematics/UwGliderStatus" />

    <param name="writeLog" value="true"/>

  </node>
</launch>
